@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.banner {
    background-image: url("img/banner.png");
   
   background-repeat: no-repeat;
   background-size: 100% 100%;
  
}
 #colors
 {
    background-color: #50B8A0;
 }

 @media (max-width: 499px) {
    #colors{
      background-color: red;
    }
  }
  
  @media (max-width: 499px) {
    #colors {
      background-color: red;
    }
  }

  .size
  {
    width: 10px;
  }
.tamaño
{
    height: 200px;
    width: 200px;
}

.b{
    background-image: url("img/MVyV.png");
    background-size: 100% 100%;
    height: 600px;
    width: 600px;
   transform: translateX(600px);
   transform: translate3d(50px);
    background-repeat: no-repeat;
   
  
  
}

.fixed-top {
    margin-left: 25px;
    font-size: 40px;
    
}
.color
{
    background-color: #50B8A0;
}
.nav {
    height: 60px;
    background-color: #50B8A0;
  
}
.pos
{
    transform: translateX(650px);
}
.nav-item {
    margin-top: 15px;
    font-size: 20px;
}

.navbar-brandd {
    font-size: 30px;

}

p {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

#nav-a
{
    border-radius: 200px;
    background-color: #50B8A0;
}
#nav-b
{
    background-color: #50B8A0;
}

.formulario{
    width: 450px;
    margin: auto;
    background-color: rgb(193, 209, 205);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 20px;

}

.cabeceraform{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
}

.bottom
{
    width: 400px;
    height: 70px;
    background-color: #50B8A0;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Cursive Standard';
    font-size: 40px;
    margin: 10px;
   text-decoration: none;
    padding: 05px 30px 05px 30px;
    font-weight: 600;
    box-sizing: border-box;
}

.bottom:hover{
    cursor: pointer;;
    color: aquamarine;
    background-color: white;
    border:2px solid aquamarine;
}

.capa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 255, 0.4);
}

.icono {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.contenedor-imagen:hover .capa {
    opacity: 0.8;
    cursor: pointer;
}

.contenedor-imagen {
    position: relative;
    width: 250px;
    margin:0 auto;
}