$color: #50B8A0;
%headerAndFooter
{
    background-color:$color;/*color de fondo*/
}

@media (max-width: 499px) {
   body{
    .cabecera { 
      background-color: #457e71;
     }
  }
}
@media (max-width: 499px) {
    body{
         footer{
       background-color: #457e71;
     }    
   }
 }

body
{
    margin:0;/*margen=0,significa que no tiene margen*/
    font-family: Arial, Helvetica, sans-serif;/*significa tipo de letra,similar al word*/

a
{
    margin-top:30px;
    font-size:20px;/*tamaño de fuente,similar al word*/
    color:black;/*color de la etiqueta*/
    text-decoration:none;/*quitar la decoracion de la etiqueta a*/
}


/*clase titulo*/
.titulo
{/*por defecto todo esta alineado a la izquieda*/
    text-align:center;/*alinear texto, se puede tambien derecha(right) e izquerda(left)*/
/*transicion para que transform suceda en un intervalo de un segundo*/
     transition: transform 1s;
}

/*pseudo-clase en este caso hover(tocando)*/
.titulo:hover
{
    transform:translatex(250px);
}
/*clase pacman,referencia a la imagen del pacman*/
.pacman
{
    width:25px;/*ancho*/
    height:25px;/*alto*/
}
/*clase cabecera*/
.cabecera
{
@extend %headerAndFooter;
  margin:0;
  position: fixed;/*posicion fija, es decir no se movera*/
}

/*clase menu*/
.menu
{
    margin-top:15px;/*margen de arriba, simulando un espacio*/
    float:right;/*ya que es una estiqueta de bloque decimos que flote a la derecha, tambien se puede a la izquieda pero no al centro*/
}
/*selector de elemento etiquetas a*/


/*cambiar estilos a la imagenes de la clase tabla*/
.tabla 
{
    img {
    height:250px;
    width:250px;
    margin-right:10px;
    }
}
/*selector de id*/
#logo
{
   margin-top: 5px; 
}

/*selector de elemento etiqueta footer*/
 footer
 {
    @extend %headerAndFooter;
     text-align:right;
 }

/*cambiar estilo de la etiqueta p contenida en el footer*/
footer p
{
    margin:0;
    font-size:30px;
}

/*cambiar estilo de la tabla de clase imagenes*/
 .imagenes table
 {
     margin:0 auto;/*de esta forma se centra la tabla*/
     text-align:center;
 }

/*clase zoom*/
 .zoom
 {
     transition: transform 0.5s;/*decimos que para que ocurra la propiedad transform va a ocurrir en 0.5 segundos)*/
 }

 /*En esta parte se agrega la experiencia de usuario o UX*/


/*clases y selecterores de elementos en modo hover*/
 .zoom:hover
 {
     transform: scale(1.05);
 }

a:hover
{
    text-decoration: none;
    color:gray;
    cursor:pointer;/*como va a estar el cursor en este caso seria una mano*/
}

p:hover
{
    cursor:pointer;
    color:red;
}
}